header {
    display: flex;
    width:calc(10*80px);
    height: 50px;
    border-bottom: 5px solid black ;
    justify-content:center;
    align-items: center;
    background-color:lightslategrey;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.text {
    margin-right: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(80, 10px);
    grid-auto-flow: dense;
}


.cell {
    display: flex;
    color: #f0f8ff;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
}

.color1 {
    background-color: rgb(143, 143, 143);
}

.color2 {
    background-color: rgb(165, 165, 165);
}

.cell:hover {
    background-color: white;
}